Write a Python Program to Find the Factorial of a Number?
2.

In [5]:
def fact(n):
  i=1
  f=1
  while i <=n :
    f=f*i
    i=i+1
  return(f)

print(fact(5))

120

Write a Python Program to Display the multiplication Table?

In [7]:
def mul(n):
  i=1
  f=1
  while i <=10 :
    print(n,"*",i,"=",n*i)
    i=i+1
  

mul(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Write a Python Program to Print the Fibonacci sequence?

In [8]:
def fib(n):
  a=1
  b=0
  i=1
  while i <=n :
    c=a+b
    print(c)
    a=b
    b=c
    i=i+1

fib(10)

1
1
2
3
5
8
13
21
34
55

4. Write a Python Program to Check Armstrong Number?

In [23]:
def checkarm(n):
  s=n
  sum=0
  i=0
  while s>0:
    i = s % 10
    sum=sum+i*i*i
    s=int(s/10)
  if sum == n:
    print("Number is Armstrong")
  else:
    print("Number is not Armstrong")

checkarm(253)

Number is not Armstrong

Write a Python Program to Find Armstrong Number in an Interval?
6.

In [27]:
def printarm(r1,r2):
  j=r1
  while j < r2:

    s=j
    sum=0
    i=0
    while s>0:
        i = s % 10
        sum=sum+i*i*i
        s=int(s/10)
    if sum == j:
     print(j)
    j=j+1
  
printarm(1,1000)

1
153
370
371
407

 Write a Python Program to Find the Sum of Natural Numbers?

In [30]:
def nsum(n):
  i=1
  s=0
  while i <=n :
    s=s+i
    i=i+1
  return(s)

print(nsum(9))

45